@tailwind base;
@tailwind components;
@tailwind utilities;

.tr-border-except-last:not(:last-child) {
    @apply border-b-[0.5px];
    @apply border-slate-400 ;
}

.elementToFadeInAndOut {
    animation: fadeinout 2.5s linear forwards;
    opacity: 0;
}

@keyframes fadeinout {
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}